@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite;
}

/* Custom utility class for extra small screens */
@layer utilities {
  @variants responsive {
    .xs\:block {
      display: block;
    }
  }
}
